# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/Selenide_Java_TestNG_Allure.iml
/modules.xml
/misc.xml
/jarRepositories.xml
/encodings.xml
/compiler.xml
/allure-result/
/build/
/libraries/
.DS_Store
/target/
MyTestProject.iml
